* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    --shadow : 0 2px 4px;
    --color : antiquewhite;
    --comp : #d7e6fa;
    --dark : rgb(75, 70, 64);
    color: var(--dark);
    font-family: monospace;
}

button {
    border-radius: 50%;
    border: solid 1px;
    box-shadow: var(--shadow);
    transition: all 350ms;
    background-color: var(--comp);
    opacity: 0.8;
}

button:hover {
    opacity: 1;
}
button:active {
    box-shadow: none;
}

.wrapper {
    height: 100vh;
    display: grid;
    grid-template-rows: 75px 0px 1fr 30px;
}

.header {
    box-shadow: var(--shadow);
    display: flex;
    justify-content: center;
}

.header .container {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    max-width: 800px;
    margin: 10px 35px
}

.header h1 {
    font-size: 45px;
    letter-spacing: -0.15em;
    text-shadow: var(--shadow) var(--color);
}

.open-form {
    z-index: 3;
    position: fixed;
    top: calc(50vh - 25px);
    left: calc(50vw - 25px);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: solid 1px;
    box-shadow: var(--shadow);
    transition: all 350ms;
    background-color: var(--comp);
    opacity: 0.8;
}

form.add-book {
    z-index: 2;
    width: 232px;
    padding: 10px;
    border-radius: 5px;
    position: fixed;
    left: calc(50vw - 116px);
    top: 150px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transform: scale(0);
    transition: all 350ms;
    background-color: var(--comp);
    color: var(--dark);
}

form fieldset {
    width: 212px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form legend {
    position: relative;
    top: 0.25rem;
    font-size: 1.5rem;
}

form input :not(input[type="checkbox"]), input[type="submit"]{
    display: block;
    width: 165px;
}

form input[type="checkbox"] {
    position: relative;
    top: 0.2rem;
    left: 1.75rem;
}

.main{
    position: relative;
    background-color: rgb(75, 70, 64, 0.2);
}

.display {
    display: grid;
    margin: 10px;
    grid-template-columns: repeat(auto-fit, 200px);
    grid-auto-rows: 300px;
    gap: 10px;
}

.card {
    font-size: 15px;
    text-align: center;
    width: 200px;
    background-color: var(--color);
    border-radius: 3px;
    box-shadow: var(--shadow);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.card textarea {
    position: relative;
    top:10px;
    background-color: inherit;
    font-family: inherit;
    font-size: inherit;
    border: 0;
    text-align: center;
    width: 190px;
    height: 3.5em;
    resize: none;
    overflow: hidden;
}

.card textarea:focus {
    outline: var(--dark);
    background-color: #fff;
}

.card .inpTitle {
    font-size: 30px;
}

.card .inpPages input {
    background-color: inherit;
    border: none;
    width: 6ch;
    display: inline-block;
    text-align: right;
    margin: 0;
}

.inpPages>span {
    display: none;
}

.card > span {
    margin: 25px;
    font-size: 12px;
}
button.read {
    right: 30px;
}
.card button {
    position: absolute;
    bottom: 0px;
    margin: 5px;
    padding: 10px;
    width: 20px;
    height: 20px;
    font-size: 18px;
    align-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    display: flex;
    justify-content: center;
    width: 100vw;
    position: fixed;
    bottom: 0px;
    margin: 5px;
}
